{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ contact.full_name|default:"Create Contact" }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ contact.full_name|default:"Create Contact" }}</h1>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="row">
        <div class="col-lg-12">
            <form method="POST" action="{% url 'contacts:create' %}">
                {% csrf_token %}
                
                {% if contact %}
                    <input type="hidden" name="id" value="{{ contact.id }}">
                {% endif %}
                
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            {{ contact.id|yesno:"Edit Contact,Create Contact" }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for column in columns %}
                            <div class="col-lg-6 form-group">
                                <label>{{ column|title|replace:"_," }}</label>
                                <input type="text" class="form-control" name="{{ column }}" 
                                       placeholder="Enter {{ column|title|replace:"_," }}"
                                       value="{{ contact|getattr:column }}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'contacts:list' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

